body{
    background: black;
    color: white;
}

.navbar{
    border-bottom: 3px solid red;
    background: #222222 ;
}

#home-section{
    background: url(../img/wallpaper2you_137079.jpg)
    no-repeat center top;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;

}

#home-section .dark-overlay {
    background: rgba(0,0,0,0.7);
    min-height: 700px;
}

#home-section .home--inner{
    padding-top: 150px;
    padding-bottom: 50px;
}

#home-section .fas{
    background: #ffffff;
    color: black;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;


}

#home-section .card-form {
    opacity: 0.8; }
  #home-section .home-inner {
    padding-top: 150px;
    padding-bottom: 50px; }

#explore-main-section .fas {
  font-size: 30px;
  background: black;
  color: #fff;
  padding: 4px;
  border-radius: 5px; }

#create-main-section .fas {
  background: #fff;
  color: #008ed6;
  padding: 4px;
  font-size: 30px;
  border-radius: 5px; }




